@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded|Quicksand');

* {
    padding: 0;
    margin: 0;
    font-family: "Saira";
}

h1 {
    text-align: center;
    font-size: 3em;
}

hr {
    width: 20%;
    margin: auto;
}
nav {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 10;
}
nav ul {
    display: flex;
    padding: 1em;
}
.desc>ul{
    display: flex;
    margin-bottom: 2em;
}
.desc>ul li {
    background-color: rgba(243, 241, 241, 0.74);
    padding: 0.5em;
    border-radius: 5px;
}
#parta-ul {
    display: block;
}
#parta-ul li {
    font-family: "Saira";
    padding-left: 1em;
    line-height: 2em;
    font-size: 15px;
}
nav ul li {
    background-color:white;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin: 1em 2em;
    list-style: none;
}
nav ul li:hover {
    background-color: rgb(44, 176, 81);
    color: white;
}

nav ul a {
    text-decoration: none;
    color: #241d00;
}

#all {
    position: absolute;
    width: 100%;
    height: 100%;
}

#title {
    background-color: rgb(44, 176, 81);
    overflow: hidden;
    background-size: 100%;
    background-image: url("../img/apple-keyboard-ballpen-black-and-white-934062.jpg");
    width: 100%;
    height: 100%;
    text-align: center;
}
#title h1 {
    font-size: 8rem;
    color: white;
}
#title p {
    font-size: 2rem;
}
.go-down {
    width: 300px;
    margin: auto;
    margin-top: 3rem;
}
.go-down button {
    padding: 0.5em;
    width: 300px;
    background-color: white;
    color: rgb(44, 176, 81);
    font-size: 2em;
    border: 4px solid white;
}
.go-down button:hover {
    background-color: rgb(44, 176, 81);
    color: white;
}

#introduction {
    position: relative;
    padding-top: 5rem;
}

#self-work {
    position: relative;
    background-attachment: fixed;
    background-size: 100%;
    margin-top: 2em;
    background-color: #b5c1cf;
}
#self-work p,
#self-work h1,
#self-work h2,
#self-work h3,
#self-work ul li {
    color: black;
}
#purchase {
    background-color: rgb(44, 176, 81);
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

#share {
    width: 40%;
    margin-left: 4rem;
    padding-top: 8rem;
}
#share-links {
    margin: auto;
    margin-top: 4rem;
}
footer {
    background-color: white;
    position: relative;
}

footer #copyright {
    font-size: 10px;
    text-align: center;
}
#contact-me {
    padding-top: 2em;
}
#contact-me div {
    justify-content: space-between;
    display: flex;
}

#buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 4em;
}
#buttons button {
    padding: 0.5em 1em;
    margin: 0 1em;
    background: white;
}
.fa {
    padding: 10px;
    margin: 1em;
    width: 20px;
    border: 1px solid;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(44, 176, 81);
}

.fa:hover {
    opacity: 0.5;
}
.fas {
    padding: 10px;
    margin: 1em;
    width: 20px;
    border: 1px solid;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(44, 176, 81);
}
.fas:hover {
    opacity: 0.5;
}
.part-week {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-top: 4em;
}
.part-week h2 {
    font-size: 2em;
}
.part-week p {
    font-weight: bold;
}
.vl {
    border-left: 2px solid #d1988c;
    height: 10px;
}

.content {
    display: block;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
}

.content p {
    line-height: 2em;
}
#summary{
    margin-bottom: 2em;
}

#summary #p {
    width: 60%;
}
#p a {
    color: white;
}
#p a:hover {
    font-weight: bold;
}
.desc {
    width: 40%;
}
.desc ul {
    margin-top: 1em;
}
.desc ul li {
    list-style: none;
    margin-right: 2em;
}
.desc ul li a {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.sketch img {
    margin-top: 2em;
    border-radius: 5px;
    box-shadow: 10px 10px 5px grey;
}
.sketch p{
    text-align: center;
}
#intro {
    width: 400px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
#self-intro {
    display: flex;
    justify-content: space-around;
}

.purchase-content {
    display: block;
    /* justify-content: space-between; */
    /* margin: auto; */
    width: 40%;
    padding-top: 18rem;
}
.purchase-content p {
    line-height: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
    font-family: 'Quicksand', sans-serif;
}
#purchase-btn {
    padding: 2rem 4rem;
    background: rgb(44, 176, 81);
    border: 4px solid white;
    color: white;
    font-size: 2rem;
}

#purchase-btn:hover {
    background: white;
    color: rgb(44, 176, 81);
}

#expectation p {
    padding-right: 3em;
}
#other-work{
    /* position: relative; */
    display: block;
}
#other-work figure {
    width: 400px;
    height: 250px;
    overflow: scroll;
    border: 2px solid black;
    border-radius: 5px;
    margin: 2em 0;
}
.portfolio {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

.portfolio article {
    display: block;
    width: 40%;
}
.portfolio figure {
    width: 30%;
}

#journal {
    width: 40%;
}

.other-content {
    display: block;
    justify-content: space-between;
    width: 80%;
    margin: 2em auto;
    padding-bottom: 2em;
}
.other-content p {
    color: grey;
    line-height: 2em;
    font-family: 'Quicksand', sans-serif;
}

#more-contact {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 1em auto;
}

#logo {
    width: 50%;
    margin: auto;
    padding-top: 4rem;
}

#logo img {
    animation: boat 3s infinite;
}
@keyframes boat {
    0% {
        transform: rotate(-10deg);
        left: -10px;
    }
    50% {
        transform: rotate(10deg); 
        left: 10px;
    }
    100% {
        transform: rotate(-10deg);
    }
}
.form-error {
	color: #da3637;
	font-family: 'Thasadith', sans-serif;
	font-weight: lighter;
	margin-bottom: 10px;
}

body {
    font-family: "Saira";
    margin: auto;
    display: flex;
    flex-direction: column;
}

.welcome {
    margin: auto;
    text-align: center;
    /* padding: 4rem; */
    color: rgb(44, 176, 81);
}

.link {
    margin: auto;
    text-align: center;
    flex-direction: column;
    display: block;
    width: 100%;
}

#info {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.user-info {
    margin: 1rem auto;
    padding: 5px 10px;
    border: 2px solid;
    width: 300px;
}

#confirm {
    margin: auto;
    width: 18rem;
}

#but {
    width: 200px;
    background: rgb(44, 176, 81);
    border-radius: 10px;
    padding: 5px 10px;
    margin: auto;
}

input {
    border-radius: 10px;
    border: 1px solid black;
}

#reg {
    margin: 0 auto;
    color: rgb(44, 176, 81);
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

#img {
    max-width: 100%;
}

.foot {
    position: fixed;
    text-align: center;
    bottom: 0rem;
    width: 100%;
}

a:link {
    text-decoration: none;
}

.tab {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;
}

table, th, td {
    border: 0.1em solid black;
    border-collapse: collapse;
}

th, td {
    padding: 1em;
    text-align: center;
}

#tablenaem {
    font-size: 2em;
}

#functions {
    overflow-x: scroll;
    width: 100%;
    display: block;
    padding: 2rem 0;
}

.funcscroll {
    height: 100%;
    display: flex;
}
.card {
    padding: 0 3rem;
}

.card img {
    margin: auto;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card p {
    margin-top: 2rem;
}

.portfolio h1, h2{
    text-align: left;
    color: rgb(44, 176, 81);
}

.portfolio p {
    padding-top: 2rem;
    color: black;
}

#purchase h1{
    color: black;
    text-align: left;
}

iframe {
    padding-top: 2rem;
}