* {
    font-family: "Saira";
}

body {
    font-family: "Saira";
    margin: auto;
    display: flex;
    flex-direction: column;
}

.welcome {
    margin: auto;
    text-align: center;
    padding: 4.5rem;
    color: rgb(44, 176, 81);
}

.link {
    margin: auto;
    text-align: center;
    flex-direction: column;
    display: flex;
    width: 100%;
}

#login {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 18em;
}

#username {
    margin: 0.5rem;
    text-align: center;
}

#pswd {
    margin: 0.5rem;
    text-align: center;
}

#button-div {
    margin: auto;
    display: block;
    padding: 2em;
}

#but {
    width: 18em;
    background: rgb(44, 176, 81);
    border-radius: 10px;
}

input {
    border-radius: 10px;
    border: 1px solid black;
}

#reg {
    margin: 0 auto;
    color: rgb(44, 176, 81);
}

.logo {
    width: 8rem;
    height: 8rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

#img {
    max-width: 100%;
}

.foot {
    position: fixed;
    text-align: center;
    bottom: 0rem;
    width: 100%;
}

a:link {
    text-decoration: none;
}

.tab {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;
}

table, th, td {
    border: 0.1em solid black;
    border-collapse: collapse;
}

th, td {
    padding: 1em;
    text-align: center;
}

#tablenaem {
    font-size: 2em;
}